
body {
    margin: 0;
    background: #f4e2d8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas {
    border: 4px solid #6b4e16;
    background-color: #f7ecd0;
}
